---
---

<main>
  <h1>Terminus Maximus</h1>

  <p>
    Tacticus guides, infographics, and strategy resources.
  </p>

  <h2>Featured Guide</h2>

  <p>Current Guild Raid Guide</p>

  <h2>Start Here</h2>

  <ul>
    <li>Beginner Guide</li>
    <li>Guild Raid Guide</li>
    <li>LRE Guide</li>
  </ul>
  <p>
  <a href="/about">About Terminus Maximus</a>
<li><a href="/beginner">Beginner Guide</a></li>
<li><a href="/guild-raid">Guild Raid Guide</a></li>
<li><a href="/LRE-guide">LRE Guide</a></li>
</p>
</main>